<%= javascript_pack_tag 'hello_react' %>
<%= stylesheet_pack_tag 'hello_react' %>
<div style="position: absolute; top: 15px; z-index: 1000; right: 80px; color: #ffffff;" class="nav-link">
<%= link_to 'Log Out', destroy_client_session_url, method: :delete, :style => "padding: 18px"%>
</div>